name: GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Jayanthmurala
          template: classic
          base: activity, community, repositories
          plugin_achievements: yes
          plugin_stars: yes
          plugin_lines: yes
